/*	レスポンシブ モバイルファースト
******************************************************/
@charset "UTF-8";
/*	スマートフォン(すべて)
******************************************************/
html{
	font-size: calc(100vw/64);
}

/*
******************************************************/

/*
******************************************************/

body{
	width: 100%;
}
.wrap { 
    width:100vw;
    height:100vh;
    background-color:#03085C;
     
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content {      
    width:auto;
    height: auto;
}
p {
    font-size: 18px;
    color: #fff;
    line-height: 3em;
}
 
/*以下フェードイン表示の指定*/
.fadein {
	position: absolute;
	top: 300px;
	left:300px;
    opacity: 0;
    animation: fadein 5s ease-in-out none;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
 
/*以下遅延の指定*/
.txt01 {animation-delay: 3s;
	animation-iteration-count:2;
	animation-direction: alternate;
}
.txt02 {animation-delay: 13s;
	animation-iteration-count:2;
	animation-direction: alternate;
}
.txt03 {animation-delay: 23s;
	animation-iteration-count:2;
	animation-direction: alternate;
}
.txt04 {animation-delay: 33s;
	animation-iteration-count:2;
	animation-direction: alternate;
}
.txt05 {animation-delay: 43s;
	animation-iteration-count:2;
	animation-direction: alternate;
}
.txt06 {animation-delay: 53s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}

/*	タブレット(幅:640px以上)
******************************************************/
@media (min-width: 640px){
	html{
		font-size: calc(100vw/96);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}


/*	PC(幅:960px以上)
******************************************************/
@media (min-width: 960px){
	html{
		font-size: calc(100vw/120);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}


/*	PC(幅:1200px以上)
******************************************************/
@media (min-width: 1200px){
	html{
		font-size: calc(100vw/192);
	}
	/*
	**************************************************/
	/*
	**************************************************/
}
